<!DOCTYPE html>
<html>
  <!-- Head Partial -->
  <% include partials/head.ejs %>
  <body id="home">
    <!-- Importing Header Partial -->
    <% include partials/header.ejs %>
    <div class="uk-position-center welcome">
      <h1>Welcome to the <%= title %></h1>
      <div>
        <a class="uk-button uk-button-primary" href="/people"> Get Started</a>
      </div>
    </div>
  </body>
</html>
