<!-- Edit Form for individual person -->

<!DOCTYPE html>
<html>
  <!-- Head Partial -->
  <% include ../partials/head.ejs %>
  <body>
    <!-- Header Partial -->
    <% include ../partials/header.ejs %>
    <div>
      <h1>Editing</h1>
      <!-- Using method override to perform a post request -->
      <form action="/people/<%= person.id %>?_method=PUT" method="POST">
        <!-- Input containing name  -->
        <input type="text" name="name" value= <%= person.name %> required />
        <!-- Input containing favorite city -->
        <input type="text" name="favoriteCity" value=<%= person.favoriteCity %> required />
        <input type="submit" value="Edit person" />
      </form>


    </div>

  </body>
</html>
