<!-- View for list of all people -->

<!DOCTYPE html>
<html>
  <!-- Head Partial -->
  <% include ../partials/head.ejs %>
  <body>
    <!-- Header Partial -->
    <% include ../partials/header.ejs %>
    <!-- Redirecting to Create Person form -->
    <a href="/people/new">Create New Person</a>
    <!-- Retrieving all people. Looping through people object.-->
    <% for(let person of people) { %>
      <!-- name property -->
      <div>
         <p><%= person.name %> </p>
         <!-- Link to view individual person -->
         <a href=/people/<%= person.id %>>View</a>
       </div>
    <% } %>

  </body>
</html>
