<!DOCTYPE html>
<html>
  <!-- Head Partial -->
  <% include ../partials/head.ejs %>
  <body>
    <!-- Importing Header Partial -->
    <% include ../partials/header.ejs %>
    <h1><%= title %></h1>
    <p>Create a new Person</p>
    <!--
      Create Person Form.
      Posting to people.
    -->
    <form action="/people" method="POST">
      <input type="text" name="name" placeholder="name" required />
      <input type="text" name="favoriteCity" placeholder="favorite city" required />
      <input type="submit" value="Create new person" />
    </form>
  </body>
</html>
