<!DOCTYPE html>
<html>
  <!-- Head Partial -->
  <% include ../partials/head.ejs %>
  <body>
    <!-- Importing Header Partial -->
    <% include ../partials/header.ejs %>
    <!-- Centering form -->
    <div class="uk-position-center" uk-grid>
      <h1><%= title %></h1>
      <!--
        Create Person Form.
        Posting to people.
      -->
      <form action="/people" method="POST">
        <input type="text" name="name" placeholder="name" required />
        <input type="text" name="favoriteCity" placeholder="favorite city" required />
        <input class="uk-button uk-button-primary" type="submit" value="Create new person" />
      </form>
    </div>
  </body>
</html>
