<!-- View for individual person -->

<!DOCTYPE html>
<html>
  <!-- Head Partial -->
  <% include ../partials/head.ejs %>
  <body>
    <!-- Header Partial -->
    <% include ../partials/header.ejs %>
    <div>
      <!-- Name property -->
      <p><%= person.name %></p>
      <!-- FavoriteCity property -->
      <p><%= person.favoriteCity %> </p>

    </div>

  </body>
</html>
